@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #A1FFCE;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}


img {
    max-width: 100%;
}

.mobile-container {
    width: 400px;
     background-color: #fff;
     box-shadow: 0 0 2px #3333331a;
     border-radius: 3px;
     overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 2rem;
    margin-left: 10px;

}

.fav-container {
    padding: 1rem;
    text-align: center;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    border-radius: 50px;

}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.fav-meals li{
    margin: 2px;
    width: 118px;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    font-size: 1rem;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin: 10px;
    margin: 1.5rem;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1.3rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: #ED213A;
}